.header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid;
    z-index: 1;
    height: 6%;
    display: flex;
    background: yellow;
    padding: 0 2% 0 2%;
}

.left_side, .right_side, .middle {
    padding: 5px;
    display: flex;
    align-items: center;
}

.left_side {
    width: 30%;
    background: linear-gradient(90deg, yellow, pink);
}

.right_side {
    width: 30%;
    justify-content: flex-end;
    background: linear-gradient(-90deg, yellow, pink);
}

.middle {
    width: 40%;
    justify-content: center;
    background: linear-gradient(90deg, pink, yellow, pink);
}

.btn, .log_out_form {
    margin: 0 10px 0 10px;
}
