<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends "base.html" %}
{% block title %}{{ news.title }}{% endblock %}
{% block content %}
<h1>{{ news.title }}</h1>
<p>{{ news.content }}</p>
<p>Автор: {{ news.author }}</p>
<p>Дата: {{ news.pub_date }}</p>
{% if news.image %}
<img src="{{ news.image.url }}" alt="Изображение">
{% endif %}

<h2>Комментарии:</h2>
        <ul>
    {% for comment in comments %}
        <li><b>{{ comment.user.username }}</b>: {{ comment.text }}</li>
    {% endfor %}
</ul>

{% if form %}
<h3>Оставить комментарий:</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>
{% endif %}
{% endblock %}

</title>
</head>
<body>

</body>
</html>